.hero {
  margin: 0 auto;
  padding: 118px 0;

  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-480.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @include font($fs: 26px, $fw: 900, $lh: 42px);

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: $primary-white-color;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../image/hero-480@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../image/hero-768.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../image/hero-768@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: url(../image/hero.jpg);
    &__title {
      width: 696px;
      @include font($fs: 44px, $fw: 900, $lh: 60px);
    }
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../image/hero@2x.jpg);
  }
}
