.projects {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: 370px;
    border: 1px solid #eeeeee;

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }

  &__link {
    display: block;

    transition: border $primary-transform, box-shadow $primary-transform;

    cursor: pointer;

    &:hover,
    &:focus {
      border: 1px solid #eeeeee;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}

.project-box {
  position: relative;

  overflow: hidden;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;

    color: $primary-white-color;
    background-color: rgba(33, 150, 243, 0.9);

    overflow: scroll;

    transform: translateY(100%);
    transition: transform $primary-transform;

    .projects__item .link:hover &,
    .projects__item .link:focus & {
      transform: translateY(0);
    }
  }
}

.project-info {
  padding: 20px 24px;

  &__name {
    min-width: 322px;
    margin-bottom: 4px;
    font-weight: $title-font-weight;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: $head-text-color;
  }

  &__type {
    font-size: 16px;
    line-height: 1.87;

    color: $paragraph-text-color;
  }
}
