.filters {
  @include flex(wrap);

  margin-bottom: 40px;

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
    &:nth-child(-n + 3) {
      margin-bottom: 15px;
    }
  }
}

@media screen and (min-width: 768px) {
  .filters {
    @include center();
    flex-wrap: nowrap;
    margin-bottom: 30px;
    &__item {
      &:nth-child(-n + 3) {
        margin-bottom: 0;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .filters {
    margin-bottom: 50px;
  }
}

.filters__btn {
  padding: 6px 22px;
  border: 0 none;

  font-family: inherit;
  @include font($fs: 16px, $fw: 500, $lh: 26px);

  text-align: center;

  border-radius: 4px;
  color: $head-text-color;
  background-color: $accent-background-color;

  cursor: pointer;

  transition: color $primary-transform, background-color $primary-transform,
    box-shadow $primary-transform;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
