.filters {
  @extend %flex-center;
  margin-bottom: 50px;

  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

.filters__btn {
  padding: 6px 22px;
  border: 0 none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  border-radius: 4px;
  color: $head-text-color;
  background-color: $accent-background-color;

  cursor: pointer;

  transition: color $primary-transform, background-color $primary-transform,
    box-shadow $primary-transform;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-color;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
