body {
  background-color: $primary-white-color;
  color: $paragraph-text-color;

  font-family: 'Roboto', sans-serif;
  font-size: $primary-font-size;
  font-weight: $paragraph-font-weight;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  outline: none;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}
