$head-text-color: #212121;
$paragraph-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$icon-color: #afb1b8;
$accent-background-color: #f5f4fa;
$title-font-weight: 700;
$paragraph-font-weight: 400;
$primary-font-size: 14px;
$primary-transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
